.section-2{

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    
    
}

.section-black{
    height: auto;
    padding-bottom: 30px;
}

.section-one article{

    
    margin: 20px;

}


.ultimate-container{


    justify-content: center;
}
.main-tables-container{

    display: flex;
    width: 900px;
    margin: 0 auto;
}
