*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{

    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

:root{
--bitcoin-orange: #f7931a;
--soft-orange: #ffe9d5;
--secondary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #282623;
--black: #201e1c;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

.headr-title-container p{

    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);

    
}

.headr-title-container h1{
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: bold;
    line-height: 2.6rem;
}



header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    

}

.headr-title-container{
    width: 90%;

    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;

}

.headr-title-container .header-button{

    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89,73,30, 0.16);
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--warm-black);


}

.header-button span{

    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./Assets/icons/down-arrow.svg);
}

main{

    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{

    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{

    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg{

    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./Assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{

    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    
    margin-bottom: 30px;
    color: #757575;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    
    
}

.main-currency-table{

    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;

}

.main-currency-table .currency-table--title{

    margin-bottom: 15px;
    font-size: 1.8rem;
    color: var(--bitcoin-orange);
    font-weight: bold;
    line-height: 2.3rem;
}

.currency-table--container{

    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table{

    width: 100%;
    height: 100%;

}

.currency-table--container td{

    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
   


}

.currency-table--container .table__top-left{

    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-rigth{

    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-right{


    border-radius: 0 0 15px 0;

}

.currency-table--container .table_bottom-left{

    border-radius: 0 0 0 15px;

}


.currency-table--container .table__right{

    line-height: 1.7rem;
    font-weight: normal;
    font-size: 1.4rem;
    color: #757575;
}

.currency-table--container .icon-down{

    display: inline-block;
    background-image: url("./Assets/icons/trending-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}


.currency-table--container .icon-up{

    display: inline-block;
    background-image: url("./Assets/icons/trending-up.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}

.main-currency-table .currency-table--date{

   width: 190px;
   height: 30px;
   margin: 0 auto;
   margin-top: 15px;
   padding: 8px;
   background-color: var(--soft-orange);
   border-radius: 8px;
   

}


.currency-table--date p{

    font-size: 1.2rem;
    font-weight: 1.5rem;
    line-height: 15px;
    color: var(--warm-black);
    font-weight: 300;

}


/* Es super importante esta parte donde centralizamos todo */


.mainTable{

    width: 100%;
    min-width: 235px;
    text-align: center;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    
}


.table2-container{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    
}

.table2-container .titulo-comision{

    color: var(--secondary-blue);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
   
    
}

.table-container{

    margin-top: 12px;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    
}


.table-container table{

    width: 100%;
    height: 100%;
    
    



}
.table-container td{

    
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);

}

.table-container .price{

    font-size: 1.4rem;
    color: #757575;
}

.update{

    margin-top: 24px;
    background-color: var(--soft-blue);
    width: 190px;
    height: 30px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 8px;
    
    margin-top: 15px;

}

.update p{

    font-size: 1.2rem;
    color: var(--warm-black);
    line-height: 1.5rem;
    font-weight: 300;
}


.section-black{

    width: 100%;
    height: 966px;
    background-color: #201e1c;
    text-align: center;
    min-width: 320px;
}
.Head-container{


    width: 90%;
    max-width: 500px;
    min-width: 270px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.section-one {

    width: 90%;
    height: auto;
    min-width: 235px;
    margin: 0 auto;
}

.section-one .icon-watch{

    background-image: url("./Assets/icons/clock.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18px;
    width: 18px;
    display: block;
    margin-bottom: 12px;
}

.section-one .Head-container h2{

    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 51px;
}

.section-one .papa{

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./Assets/icons/batata.svg");
    background-position: center;
    width: 40px;
    height: 25px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    
}


.section-one .Head-container span{

    color: #808080;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    
}

.section-2 article h3{

    font-weight: 700;
    font-size: 1.8rem;
    color: white;
    text-align: left;
    margin-bottom: 10px;
}



/* estamos organizando el fondo del parrafo */

.section-one article{

    
    background-color:#282623;
    height: 152px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px;
    min-width: 288px;
    min-height: 170px;
    margin-top: 16px;
}


.information .icon-watch2{

    background-image: url("./Assets/icons//eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18px;
    width: 18px;
    display: block;
    margin-bottom: 12px;
}


.section-2  p{

    color:  #808080;
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.8rem;
   text-align: left;
  
}



.information .icon-watch3{

    background-image: url("./Assets/icons/dollar-sign.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18px;
    width: 18px;
    display: block;
    margin-bottom: 12px;
}





.information .icon-watch4{

    background-image: url("./Assets/icons/check-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 18px;
    width: 18px;
    display: block;
    margin-bottom: 12px;
}

.section-container{

    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #201e1c;
    padding-top: 10px;
}



.section-container .fondoImg{

    background-image: url("./Assets/img/bitcoinbaby.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    min-width: 320px;
    max-width: 500px;

    display: block;
    position: relative;

    margin: 0 auto;
    
}


.section-container .fondoImg span{

    
    position: absolute;
    display: flex;
    width: 100%;
    height: 387px;
    min-width: 320px;
    justify-content: center;
    padding-top: 64px;
    


}

.section-container .fondoImg span h2{

    
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 2.6rem;
   color: #FFFFFF;
    


}

.ultimate{

    width: 100%;
    background-color: #E5E5E5;
    min-width: 320px;
    text-align: center;
    padding-top: 64px;
    
    
    
}


 .information-container h2{

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: var(--warm-black);
    margin-bottom: 24px;
}

 .information-container p{

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}





.central2 .button-orange{

    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    width: 105px;
    height: 32px;
    display: inline-block;
    padding: 8px;
    position: absolute;
    top: -15px;
    
}

.ultimate .central{

    
    padding: 15px;
}

.central2{

    display: flex;
    margin-top: 50px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    border-radius: 15px;
    height: 250px;
    background-color: #FFFFFF;
    box-shadow:  0px 4px 8px rgba(89, 73, 30, 0.16);
    height: 267px;
    margin-bottom: 40px;
    scroll-snap-align: center;
    margin-left: 5px;
    margin-right: 5px;
   
    
    
}

.tarjet-container .pagos{

    margin-top: 31px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 8px;
    
}

.information-container{

    
    min-width: 288px;
    height: 110px;
    width: 90%;
    margin: 0 auto;
     
    
}

.tarjet-container span{

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #363636;

}

.central .parrafo { 

    
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.4rem;
    color: #000000;
    margin-bottom: 16px;

   
}

.central .parrafo span{

   display: inline-block;
   position: relative;
   top: -25px;
   
}

.tarjet-container .save{

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575
}

.tarjet-container .buttom-save{


    background-color: #FAF8F7;
    border-radius: 4px;
    border: solid #F7931A 2px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #201E1C;
    height: 50px;
    width: 170px;
    
    font-family: 'DM Sans', sans-serif;;
    
}


.tarjet-container .buttom-save span{

    background-image: url("./Assets/icons/orange-right-arrow.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 5px;
} 



/* estilos de tarjetas */


.target2 .button-orange{

    background-color: #18a0fb;
    color: var(--just-white);
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    width: 105px;
    height: 32px;
    display: inline-block;
    padding: 8px;
    position: absolute;
    top: -15px;

    
}


.target2 .buttom-save{


    background-color: white;
    border-radius: 4px;
    border: solid #18a0fb 2px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #201E1C;
    height: 50px;
    width: 170px;
    font-family: 'DM Sans', sans-serif;
    
}


/* tarjeta expert */


.target3 .button-orange{

    background-color: #98ca3f;
    color: var(--just-white);
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    width: 105px;
    height: 32px;
    display: inline-block;
    padding: 8px;
    position: absolute;
    top: -15px;
    
    
}


.target3 .buttom-save{


    background-color: white;
    border-radius: 4px;
    border: solid #98ca3f 2px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #201E1C;
    height: 50px;
    width: 170px;
    font-family: 'DM Sans', sans-serif;
    
}

/* scroll  horizontal */


.ultimate .ultimate-container{


    width: 85%;
    margin-top: 40px;
    padding-top: 20px;
    margin-left: 100px;
    display: flex;
    min-width: 190px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 auto;
    
    
}

/* footer */



footer{

    background-color: var(--bitcoin-orange);
    height: 150px;
    width: 100%;
    min-width: 320px;
    display: flex;
    
}


footer section{ 
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}

footer section li {

    list-style: none;

}


footer section li a{

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-decoration: none;
    color: whitesmoke;

}



